/* 
! Mobile-First Approach
- Variables
- Reset
- Base Styles
- Utility Styles
- Mobile Styles
- Tablet Styles
- Desktop Styles 
*/

/* Varaiables */
:root {
  /* Colors */
  /* Prmiary */
  --moderate-blue: hsl(238, 40%, 52%);
  --soft-red: hsl(358, 79%, 66%);
  --light-grayish-blue: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%);

  /* Neutral */
  --dark-blue: hsl(212, 24%, 26%);
  --grayish-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-gray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);
}

/* Reset Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

/* Base styles */
body {
  background-color: var(--light-gray);
  font-family: 'Rubik', serif;
  font-size: 16px;
  padding-block-end: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}

button {
  cursor: pointer;
}

abbr[title] {
  text-decoration: none;
}

input:focus, textarea:focus, select:focus {
  /* border: none; */
  outline: none;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* Desktop Styles */
/* Main Styles */
main {
  width: 90%;
  margin-inline: auto;
  margin-block: 2rem;
}

/* Section Styles */
section {
  background-color: var(--white);
  border-radius: 10px;
  margin-block: 1rem;
  padding: 1rem;
}

section .top-div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

 .top-div img.avatar {
  width: 13%;
}

.top-div p.username {
  font-weight: 700;
  color: var(--dark-blue);
}

.top-div p.duration {
  font-weight: 400;
  color: var(--grayish-blue);
}

section p.comment-text {
  margin-block: 1rem;
  color: var(--grayish-blue);
  font-weight: 400;
}

section .bottom-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section button.score-selector {
  display: flex;
  align-items: center;
  gap: .7rem;
  border: none;
  border-radius: 10px;
  padding: .7rem .9rem;
  color: var(--moderate-blue);
  font-weight: 500;
  background-color: var(--light-gray);
  font-family: 'Rubik', serif;
  font-size: 1rem;
}

.reply-btn {
  display: flex;
  align-items: center;
  color: var(--moderate-blue);
  font-weight: 700;
  gap: .5rem;
}

.format-tools-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.edit-btn {
  display: flex;
  align-items: center;
  color: var(--moderate-blue);
  font-weight: 700;
  gap: .4rem;
}

.delete-btn {
  display: flex;
  align-items: center;
  color: var(--soft-red);
  font-weight: 500;
  gap: .4rem;
}

/* Replies Section */
.replies-container {
  width: 100%;
  border-left: 1px solid var(--grayish-blue);
  padding-left: 5%;
}

/* Current User */
section.current-user-section textarea#new-comment {
  width: 100%;
  height: 100px;
  font-size: .8rem;
  font-family: inherit;
  font-weight: 400;
  color: var(--grayish-blue);
  border-color: var(--grayish-blue);
  padding: .7rem 1rem;
  border-radius: 10px;
  margin-block-end: 1rem;
}

section.current-user-section .user-btm-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.current-user-section img#current-user-img {
  width: 13%;
}

section.current-user-section button#send-btn {
  border: none;
  padding: .8rem 1.3rem;
  font-weight: 500;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--white);
  border-radius: 10px;
  background-color: var(--moderate-blue);
}

/* Edit Styles */
section textarea.edit-textarea {
  width: 100%;
  max-height: 100px;
  font-size: .8rem;
  font-family: inherit;
  font-weight: 400;
  color: var(--grayish-blue);
  border-color: var(--grayish-blue);
  padding: .7rem 1rem;
  border-radius: 10px;
  margin-block: 1rem;
}

section button.update-btn {
  border: none;
  padding: .8rem 1.3rem;
  font-weight: 500;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--white);
  border-radius: 10px;
  background-color: var(--moderate-blue);
  margin-block-end: 1rem;
}

/* Footer Styles */
.attribution { 
  font-size: 11px;
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

/* Desktop Styles */
@media(min-width: 768px) {
  /* Current User Style */
  section.current-user-section textarea#new-comment {
    width: 50%;
    height: 100px;
  }

  section.current-user-section{
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
}